<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button>Upload</button>
    </form>
    {% for file in files %}
        <div><a href="{% url 'file' file.pk %}">{{ file.file.name }}</a></div>
    {% endfor %}
</body>
</html>